body {
    font-family: 'Poppins';
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
}

h1,
h2,
h3,
h4 {
    margin: 2rem 0;
}


h3 {
    font-size: calc((2.2 - 1) * 1.2vw + 1rem);
    line-height: 1.3328;
}

h4 {
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    line-height: 1.3664;
}

p {
    line-height: 23px;
    margin: 1rem 0;
}

.text-center {
    text-align: center;
}